*{
    margin: 0;
    font-family: 'Source Serif Pro', serif;
}

body{
    background: #e9ecf4;
    color: #000;
}

.contenedor{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer{
    background: #FFF;
    padding: 20px;
    border-radius: 15px;
}

.contenedor .header{
    background: #12203E;
    color: #EEE;
    grid-column-start: 1;
    grid-column-end: -1;
}

.contenedor .contenido{
    grid-column: span 2;
    grid-row: span 2;
    height: 600px;
}

.contenedor .sidebar{
    grid-column: 3 / 4;
    background: #FAA43D;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: span 2;
}

.contenedor .widget-1,
.contenedor .widget-2{
    background: #55a8fd;
    color: #FFF;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .footer{
    background: #12203e;
    color: #FFF;
    grid-column: span 3;
}

.fa-user-tie,
.fa-user-alt{
    width: 200px;
	height: 200px;
    font-size: 200px;
	color: #12203E;
    text-align: center;
}

figure{
    padding: 30px;
	margin-top: 80px;
    margin-right: 100px;
    margin-bottom: 0px;
    margin-left: 100px;
	display: inline-block;
	border: 0px;
	position: relative;
	overflow: hidden;
}

figcaption{
	color: white;
	transition: all 0.3s;
	background: rgba(39, 40, 41, 0.603);
	position: absolute;
	left: 0px;
	bottom: -40px;
	width: 100%;
	text-align: center;
    font-size: 30px;
}

figure:hover figcaption{
	bottom: 0px;
}

.users{
    text-align: center;
}

.name_page{
    padding-top: 35px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
    color: rgb(0, 0, 0);
}

.formulario_login{
    width: 400px;
    height: 420px;
    background: #12203E;
    color: #FFF;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-120%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    text-align: center;
    border-radius: 15px;
}

.formulario_login .avatar{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.formulario_login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.formulario_login input{
    width: 100%;
    margin-bottom: 20px;
}

.formulario_login input[type="text"],
.formulario_login input[type="password"]{
    border: none;
    border-bottom: 1px solid #FFF;
    background: transparent;
    outline: none;
    height: 40px;
    color: #FFF;
    font-size: 16px;
}

.formulario_login input[type="submit"]{
    height: 40px;
    border: none;
    outline: none;
    background: #FFF;
    border-radius: 15px;
    color: #12203E;
    font-size: 18px;
    
}

.formulario_login input[type="submit"]:hover{
    border-color: #FFF;
    background: #3a62b8;
    color: #FFF;
}

.formulario_login a{
    text-decoration: none;
    font-size: 25px;
    line-height: 20px;
    color: darkgray;
}

.formulario_login a:hover{
    color: #FFF;
}

